// javascript	
// jQuery
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript).
	window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')

script(type='text/javascript', src='/js/jquery.cookie.js')

// Bootstrap JS, the minified bundle 
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/iemobile-fix.js')
script(type='text/javascript', src='http://j.maxmind.com/app/geoip.js')

script(type='text/javascript', src='/js/socket.io.js')
script(type='text/javascript', src='/js/socket-io-init.js')
script#postitemtmpl(type='text/html')
	!= partial('parts/streamitem.jade')
script#loclinktmpl(type='text/html')
		!= partial('parts/loc-link.jade')

//script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
script(type='text/javascript', src='/js/bday-picker.min.js')
script(type='text/javascript', src='/js/jquery.ajaxform.js')

script(type='text/javascript', src='/js/jquery.validate.min.js')
script(type='text/javascript', src='/js/wj.js')

script(type='text/javascript', src='/js/location.js')
script(type='text/javascript', src='/js/index.js')

script(type='text/javascript', src='js/underscore.js')
script(type='text/javascript', src='/js/backbone.js')

// backbone models
script(type='text/javascript', src='/js/models/Post.js')
script(type='text/javascript', src='/js/models/Map.js')

// backbone collections
script(type='text/javascript', src='/js/collections/Posts.js')

// backbone views
script(type='text/javascript', src='/js/views/Post.js')
script(type='text/javascript', src='/js/views/Map.js')

// backbone controllers
script(type='text/javascript', src='/js/controllers/Post.js');
script(type='text/javascript', src='/js/controllers/Maps.js');
script(type='text/javascript', src='/js/controllers/mainMap.js');
