#loading-modal.modal.hide
	.modal-header
		h4= __i('determining-cur-loc')
	.modal-body
		img(src='img/loading.gif')
		span= '&nbsp;' +  __i('take-few-seconds')
	.modal-footer
		a.btn(href="#", data-dismiss="modal")= __i('cancel')