div.btn-group
  a.btn.btn-primary(href="#")
    i.icon-user.icon-white
      | __i('User')
  a.btn.btn-primary.dropdown-toggle(href="#", data-toggle="dropdown")
    span.caret
  ul.dropdown-menu
    li: a(href="#")
      i.icon-pencil
      | __i('Edit')
    li: a(href="#")
      i.icon-trash Edit
      | __i('Delete')
    li: a(href="#")
      i.icon-ban-circle=__i('Edit')
      | __('Ban')
    li.divider
    li: a(href="#")
      i.i
      | __i(Make admin)
